<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.CategoryMapper">
    <resultMap id="BaseResultMap" type="com.example.pojo.Category">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <resultMap id="CategoryVoResultMap" type="com.example.vo.CategoryVo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />

    </resultMap>
    <sql id="Base_Category_List">
        id, parent_id, `name`, `desc`, create_time, update_time
    </sql>

    <insert id="insertCategory" parameterType="com.example.pojo.Category">
        insert into mall_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectCategoryById" parameterType="java.lang.Integer" resultMap="CategoryVoResultMap">
        select
        <include refid="Base_Category_List" />
        from mall_category
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Category_List"></include>
        from mall_category
    </select>
    <select id="selectCategoryDetail" resultMap="BaseResultMap">
        select
        <include refid="Base_Category_List"></include>
        from mall_category
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>